ServidorProyectoES/node_modules/
ServidorProyectoES/bdES.sqlite
ServidorProyectoES/uploadedFiles/
ClienteProyectoES/build/
ClienteProyectoES/build/built-jar.properties
*.properties
ClienteProyectoES/build/built-jar.properties
ClienteProyectoES/build/built-jar.properties
